<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-8">
      <div class="panel-wrapper">
        <div class="panel-title">Billable Vs Bench</div>
        <canvas id="line" class="chart chart-line" data="lineChart.data"
                labels="lineChart.labels" legend="true" series="lineChart.series"
                click="onClick">
        </canvas>
        <div class="panel-notes"> On Weekly basis </div>
      </div>
    </div>



    <div class="col-xs-4 col-sm-4">
      <div class="panel-wrapper">
        <div class="panel-notes"> As of Today </div>
        <canvas id="doughnut" class="chart chart-doughnut" data="doughnutChart.data"
                labels="doughnutChart.labels"></canvas>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4">
      <div class="panel-wrapper">
        <div class="panel-title">PDX Project</div>
        <image src="images/bar-chart-1.png"  class="img-responsive"></image>
        <div class="panel-notes"> On Weekly basis </div>

      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="panel-wrapper">
        <div class="panel-title">QuickOffice Project </div>
        <image src="images/bar-chart-2.png"  class="img-responsive"></image>
        <div class="panel-notes"> On Weekly basis </div>

      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div class="panel-wrapper">
        <div class="panel-title">ECi Solutions Project</div>
        <image src="images/bar-chart-3.png"  class="img-responsive"></image>
        <div class="panel-notes"> On Weekly basis </div>

      </div>
    </div>
  </div>


</div>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 text-center">
        <p>Build with<span class="glyphicon glyphicon-heart"></span></span> from <a href="http://www.synerzip.com">Synerzip</a> team</p>
      </div>
    </div>
  </div>
</div>

